.grid-system-responsive {
    display: grid;
    grid-template-columns: repeat(3, minmax(338px, 1fr));
    grid-gap: 1rem;
   justify-items: center;
   margin-top: 1rem;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 458px;
    min-width: 230px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1pxsolidrgba(0,0,0,.125);
    border-radius: 0.25rem;
    float: left;
}