<div class="grid-system-responsive">

  <div class="card" *ngFor="let product of products">
    <img src={{product.image}} class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{product.name}}</h5>
     <p class="card-price">{{product.price}}</p>
     <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
 
 
 


  <!-- <div class="card" style="width: 18rem;">
    <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/062.webp" class="card-img-top" alt="Chicago Skyscrapers"/>
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <ul class="list-group list-group-light list-group-small">
      <li class="list-group-item px-4">Cras justo odio</li>
      <li class="list-group-item px-4">Dapibus ac facilisis in</li>
      <li class="list-group-item px-4">Vestibulum at eros</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
  <div class="card_container">
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div> -->

  </div>
  