<ngb-carousel class="ngbCarousel" *ngIf="products"  (slide)="onSlide($event)">
 
 <ng-template *ngFor= "let product of products; let i = index" ngbSlide [id]="'slideId_' + i">
      <div class="picsum-img-wrapper">
        <img class="tales" src={{product.image}} alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <h5>{{product.name}}</h5>
        <p class="descripcionslider">{{product.description}}</p>
      </div>
    </ng-template>
</ngb-carousel>
<!-- <ngb-carousel *ngIf="images" (slide)="onSlide($event)">
	<ng-template *ngFor="let image of images; let i = index" ngbSlide [id]="'slideId_' + i">
		<img [src]="image" alt="Random slide">
  </ng-template>
</ngb-carousel> -->

