.col-5 {
    display: block;
    width: 34.666667%;
    padding: 2rem;
  position: absolute;
    right: 18rem;
    top: 0px;
}
.reset{
    color:#C70A80!important;
   
}
.reg{
   color: #37E2D5!important;  
}

.composit
 {
    height: 70vh;
}
.col-4 {
    display: block;
    width: 33.33333333%;
    padding: 2rem;
    /* float: left; */
    position: relative;
    left: 14rem;
    height: auto;
}