.col-5 {
    display: block;
    width: 29.666667%;
    padding: 2rem;
    position: absolute;
    right: 19rem;
    top: 5rem;
}
.reset{
    color:#C70A80!important;
    background-color: #37E2D5!important ;
    margin-right: 0.2rem;
    margin-top: 0.2rem;
   
}
.reg{
   color: #37E2D5!important;  
   background-color:#C70A80!important ;
   margin-right: 0.2rem;
   margin-top: 0.2rem;
}

.composit
 {
    height: 70vh;
}
.col-4 {
    display: block;
    width: 33.33333333%;
    padding: 2rem;
    height: auto;
    position: relative;
    left: 13rem
}