header{
    height: 255px;
    background-image:url("/assets/images/bg-header.png"); 
    background-position: center;
    background-size: cover;
}
header img{
 /*   margin: 1rem;
    margin-top: -0.120000000000001rem;*/
    position: absolute;
    left: 90px;
    width: 129px;
    height: 222px;
    z-index: 1;
    top: 19px;
}
header h1 {
    text-align: center;
   

}
/*.letter-header{
     margin-top: 2rem;
}*/