<nav class="navbar navbar-expand-lg">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
    <form class="searchbar">
      <div class="input-group mb-4 border rounded-pill p-1 searchbar">
        <input type="search" placeholder="Encuentra tu producto" aria-describedby="button-addon3" class="form-control bg-none border-0">
        <div class="input-group-append border-0">
          <button id="button-addon3" type="button" class="btn btn-link text-success"><i class="fa fa-search lupa"></i></button>
        </div>
      </div>
    </form>
    <ul class="navbar-nav mr-auto iconosjuntos">
      <li class="nav-item active">
        <a class="nav-link carrito d-flex col-md-2 text-align-center align-items-center" routerLink="/checkout">{{items}}<i class="fa-solid fa-cart-shopping fa-2xl"></i><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link registro fa-2xl" routerLink="/login-register"><i class="fa-solid fa-right-to-bracket"></i><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link crear" routerLink="/create">Crear Producto</a>
      </li>
    </ul>
  </div>
</nav>

 
         
   
 
