/*@import url(https://fonts.googleapis.com/css?family=VT323);*/



.grid-system-responsive {

    display: grid;
    grid-template-columns: repeat(4, minmax(364px, 1fr));
    grid-gap: 1rem;
    justify-items: center;
    margin-top: 1rem;
    padding: 1rem;
    justify-content: space-around;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 480px;
    word-wrap: break-word;
    background-color: #fff;
    background-position: bottom;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.9rem;
    float: left;

}
.card-img-top {

    width: 100%;
    height: 270px;
    min-height: 270px;
    border-top-left-radius: 0.9rem;
    border-top-right-radius: 0.9rem;
    cursor: pointer;
}


.card-body{

    max-height: 467px;
}
.card-title{
    font-size: 2rem;


}
.card-text{
    font-size: 1rem;
    max-height: 24px;
}
.card-price{
    font-size: 1.5rem;


}
.btn {
	background: #C70A80;
	border-bottom: 6px inset rgba(0, 0, 0, 0.5);
	border-left: 6px inset rgba(0, 0, 0, 0.5);
	border-right: 6px inset rgba(255, 255, 255, 0.5);
	border-top: 6px inset rgba(255, 255, 255, 0.5);
	box-sizing: border-box;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-size: 1rem;
	min-width: 200px;
	text-transform: uppercase;
	width: auto;

}
.btn:focus{
    background: #a1196d;
}
.btn:hover {
    background: #a1196d;
}
