<div class="grid-system-responsive">
    <div class="card" *ngFor="let product of products">
      <a (click)="showOneProduct(product)"><img src={{product.image}} class="card-img-top" alt="..."></a>
      <div class="card-body">
        <h5 class="card-title">{{product.name}}</h5>
        <p class="card-text">{{product.description}}</p>
        <p class="card-price">{{product.price}}</p>
        <a (click)="addToCart(product)" id="product{{product.id}}" class="btn cart px-auto">ADD TO CART</a>
      </div>
    </div>
</div>


  