.fixSize{
    height: 353px;
    overflow: hidden;
    width: 96%;
    margin-top: 25px;
    box-shadow: inset 25px 45px grey;
   /*  border: 12px solid rgb(213, 200, 26); */
    border-radius: 5rem;
}
