main{
    height:550px;
    background-color: rgba(251, 203, 10, 0.66);
} 
/* .grid-system-responsive{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10%;
    grid-row-gap: 11.1%;
    padding-bottom: 10%;
    background-color: rgb(213, 200, 26);
} */