footer{
    background-color: black;
    text-align: center;
    position: relative;
}
.left-text{
    color: rgba(251, 203, 10, 0.66); 
    font-size: 18px;
}
.right-text{
    color: rgba(251, 203, 10, 0.66); 
    font-size: 18px;
}
.center-text{
    color: rgba(251, 203, 10, 0.66); 
    font-size: 18px;
    
}
.center-buttons{
    background-color: black;
    width: 60px;
    height: 60px;
}
.right-buttons{
    background-color: black;

}


