<footer>
    
        <div class="row">
          <div class="col">
            <p class="left-text"> <i class="fa-solid fa-phone"></i>Telefono <br> 912805489</p>
            <p class="left-text"> <i class="fa-solid fa-phone"></i>Whatsapp <br> 658745986</p>
            <p class="left-text"> <i class="fa-solid fa-envelope"></i>Email <br> arkadikos@gmail.com</p>
            <p class="left-text"> <i class="fa-solid fa-location-dot"></i>Dirección <br> C/Madrid 5 Bajo. Madrid <br> 2080 </p>
          </div>
          <div class="col-5">
            <div class="icons-footer-center">
              <button><i class="fa-brands fa-instagram center-text"></i></button>
              <button><i class="fa-brands fa-twitter center-text"></i></button>
              <button><i class="fa-brands fa-whatsapp center-text"></i></button>
              <p class="center-text">ARKADIKOS. ALL RIGTHS RESERVED</p>
            </div>

          </div>
          <div class="col">
            <p class="right-text"> MI CUENTA </p>
            <p class="right-text"> INFORMACION - CONTACTO</p>
            <p class="right-text"> CONDICIONES GENERALES</p>
            <p class="right-text"> POLITICA DE PRIVACIDAD </p>
            <p class="right-text"> PAGO SEGURO </p>
            <p class="right-text"> GASTOS DE ENVIO - PLAZOS <br> ENTREGA</p>
          </div>
        </div>
      
<!-- <h1> footer</h1> -->
</footer>