@font-face {
    font-family: ARCADECLASSIC;
    src: url(./assets/fonts/ARCADECLASSIC.TTF);
}
@font-face {
    font-family: gomarice_game_music_love;
    src: url(./assets/fonts/gomarice_game_music_love.TTF);
}
@font-face {
    font-family: never;
    src: url(./assets/fonts/never.TTF);
}
  
h1 {
    font-family: ARCADECLASSIC;
    color: #590696;

}
p,h4, h5, h6,a {
    font-family:  never;
    color: rgb(28, 28, 28);
}
body{
    background-color: rgba(251, 203, 10, 0.66);
}

    
