 <!-- Login -->
<form id="loginForm">
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">Nunca compartiremos informacion privada de tus datos</div>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password">
    </div>
   
    <button type="submit" class="btn btn-primary">Entrar</button>
  </form>
  <!-- Register -->
  <form id="registerForm">
    <div class="mb-3">
      <label for="email" class="form-label">Email </label>
      <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">Nunca compartiremos informacion privada de tus datos</div>
    </div>
    <div class="mb-3">
        <label for="name" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="name">
      </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password">
    </div>
    <div class="mb-3">
        <label for="passwordRepeat" class="form-label">Confirma tu Password</label>
        <input type="password" class="form-control" id="passwordRepeat">
      </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Quieres ser socio</label>
    </div>
    <button type="submit" class="btn btn-primary">Registrarte</button>
  </form>