.col-5 {
    flex: auto;
    width: 41.66666667%;
    margin: auto;
    margin-top: 1rem;
    padding: 2rem;
}

.btn-warning {
    background-color: #C70A80 !important;
}

.btn-secondary {
    background-color: #37E2D5 !important;
    padding: 40px;}