<section class="vh-100" style="background-color: rgba(251, 203, 10, 0.66)">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <p><span class="h2">Shopping Cart </span><span class="h4">({{items}} items in your cart)</span></p>

          <div class="card mb-4">
          <div class="card-body p-4">
            <div *ngFor="let order of orders; let i = index">
            <div class="row align-items-center">
              <div class="col-md-2">
                <a class="productlink" routerLink="/product/{{order.id}}">
                <img [src]="order.image"
                  class="img-fluid" alt="Generic placeholder image">
                  </a>
              </div>
              <div class="col-md-2 d-flex justify-content-center">
                <div>
                  <p class="small text-muted mb-4 pb-2">Nombre</p>
                  <p class="lead fw-normal mb-0">{{order.name}}</p>
                </div>
              </div>
              <div class="col-md-2 d-flex justify-content-center">
                <div>
                  <p class="small text-muted mb-4 pb-2">Cantidad</p>
                  <div class="row align-items-center">
                    <input id="units{{i}}" min="1" [max]="order.max_units" type="number" class="lead fw-normal mb-0" [value]="order.units" (change)="changeUnits(i)">

                  </div>
                </div>
              </div>
              <div class="col-md-2 d-flex justify-content-center">
                <div>
                  <p class="small text-muted mb-4 pb-2">Precio</p>
                  <p class="lead fw-normal mb-0">${{order.price}}</p>
                </div>
              </div>
              <div class="col-md-2 d-flex justify-content-center">
                <div>
                  <p class="small text-muted mb-4 pb-2">Total</p>
                  <p class="lead fw-normal mb-0">${{order.totalPrice}}</p>
                </div>
              </div>
              <div class="col-md-2 d-flex justify-content-center">
              <button (click)="deleteOrder(i)" type="button" class="btn btn-primary btn-trash"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
              </svg></button>  
              </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-5">
          <div class="card-body p-4">

            <div class="float-end">
              <p class="mb-0 me-5 d-flex align-items-center">
                <span class="small text-muted me-2">Precio total:</span> <span
                  class="lead fw-normal">${{totalPrice}}</span>
              </p>
            </div>

          </div>
        </div>

        <div class="d-flex justify-content-end">
          <button type="button" class="btn btn-light btn-delete btn-lg me-2" routerLink="/">Eliminar</button>
          <button type="button" class="btn btn-primary btn-pay btn-lg" (click)="payOrders()">Pagar</button>
        </div>

      </div>
    </div>
  </div>
</section>